table.output td {
  text-align: left;
  padding: 0px;
  padding-right: 15px;;
}
canvas#mazeCanvas {
  text-align: center;
  border: 1px solid black;
  border-spacing: 0rem;
  background-color: black;
}
td#controlls {
  vertical-align: middle;
}
td#stats_print {
  vertical-align: middle;
  height: 70px;
}
td#path_print {
  height: 70px;
}